*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    color: #84797d !important;
    font-size: 1.6rem !important;
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif !important;
}

a{
    color: #fff !important;
    text-decoration: none !important;
}

.mySection{
    padding: 8rem 0;
}

.background-dark{
    background-color: #000;
}

.background-grey{
    background-color: #0F1113;
}


/*** nav-bar ***/

#mainNavbar{
    padding: 1.5rem 4.8rem;
    transition: padding-top 0.6s, padding-bottom 0.6s, background .6s;
}

#mainNavbar .navbar-brand{
    font-size: 3.6rem;
    font-weight: 600;
    transition: 0.6s;
    padding: 0;
}

#mainNavbar .bi-list{
    font-size: 3.5rem;
    color: #fff;
}

nav.sticky .bi-list{
    color: #000 !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}

.offcanvas{
    width: 300px !important;
}

.offcanvas-body{
    transition: all 0.6s !important;
}

#mainNavbar ul{
    font-size: 1.8rem;
}

#mainNavbar ul>li{
    margin-left: 1.3rem;
}

#mainNavbar ul>li a{
    display: inline-block;
    padding: 1rem .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.6s;
    position: relative;
}

#mainNavbar ul>li a.effect::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px; 
    background: rgba(255,255,255,0.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s;
}

#mainNavbar ul>li a.effect:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

nav.sticky{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background: #fff;
}

nav.sticky .navbar-brand,
.offcanvas.show a,
nav.sticky ul>li a{
    color: #000 !important;
}

nav.sticky ul>li a::after,
.offcanvas.show ul>li a::after{
    background: #000 !important;
}


@media (max-width:768px){
    #mainNavbar{
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }
    nav.sticky ul>li a{
        color: #fff !important;
    }

    .main-header .hello{
        font-size: 3rem !important;
    }

    .main-header .my{
        font-size: 5.8rem !important;
        margin-top: 1.5rem !important;
    }

    .download{
        font-size: 1.5rem;
        letter-spacing: .15rem !important;
        padding: 1.2rem 2.2rem !important;
    }
}


@media (max-width: 578px){
    .main-header .hello{
        font-size: 2rem !important;
    }

    .main-header .my{
        font-size: 4.2rem !important;
    }

    .download{
        font-size: 1.2rem;
        letter-spacing: .11rem !important;
        padding: 1rem 2rem !important;
    }
}

@media (max-width: 405px){
    .main-header .hello{
        font-size: 1.5rem !important;
    }

    .main-header .my{
        font-size: 3.2rem !important;
    }

    .download {
        line-height: .5rem;
        font-weight: 400 !important;
        letter-spacing: .15rem !important;
        padding: 1.5rem 2rem !important;
    }
}

@media (max-width: 991.98px){

}


/*** header ***/
.main-header{
    background-image: url(../../images/background4.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.main-header .hello{
    font-size: 4rem;
    font-weight: 400;
}

.main-header .my{
    font-size: 6.8rem;
    font-weight: 500;
    margin-top: 2.5rem;
    border-right: 2px solid;
    white-space: nowrap;  /*Yazının alt satırlara inmesini engelliyor.*/
    overflow: hidden;   
}

.anim-typewriter{
    animation: typewriter 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal; /*text imlecinin sonsuza kadar yanıp sönmesini sağlıyor.*/
}

.anim-typewriter-small{
    animation: typewriter-small 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

.anim-typewriter-xsmall{
    animation: typewriter-xsmall 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

.anim-typewriter-xxsmall{
    animation: typewriter-xxsmall 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 60.5rem;}  /*text imlecinin, yazının sonuna gelmesi için width'in genişliği yazının genişliği kadar olmalı*/
}

@keyframes typewriter-small{
    from{width: 0;}
    to{width: 51.8rem;}
}

@keyframes typewriter-xsmall{
    from{width: 0;}
    to{width: 38rem;}
}

@keyframes typewriter-xxsmall{
    from{width: 0;}
    to{width: 29rem;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.download{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin-top: 2.5rem;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 3rem;
    cursor: pointer;
    color: #fff;
    transition: all .3s;
    letter-spacing: .2rem;
}

.download:hover{
    background-color: #fff;
    color: #000 !important;
}


/* Title-Striped */
.title-striped .title{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.title-striped i{
    font-size: 2.5rem;
    display: block;
    position: relative;
    color: #fff;
    top: -4px;
}

.title-striped i span::before,
.title-striped i span::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #fff;
    top: 18px;
}

.title-striped i span::before{
    left: 34px;
}

.title-striped i span::after{
    right: 34px;
}


/* About */
.my-img{
    max-width: 25rem !important;
    border-radius: 30px !important;
}

.about-desc span{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
    display: inline-block;
}

.about-desc p{
    color: #c0c0c0;
    width: 80%;
    margin-bottom: 0.5rem;
}







