*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

:root{
    --night: #011219;
    --space: #132229;
    --vintage: #515052;
    --halloween: #bfbdc1;
    --white: #eee;
    --red: #e34c26;
    --yellow: #178600;
}

body{
    color: var(--space) !important;
    font-size: 1.6rem !important;
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif !important;
}

a{
    color: var(--white) !important;
    text-decoration: none !important;
}

.chrome-scroll{
    scroll-behavior: auto !important;
}

.mySection{
    padding: 8rem 0;
}

.background-night{
    background-color: var(--night);
}

.background-space{
    background-color: var(--space);
}

#progress{
    z-index: 5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--night);
    cursor: pointer;
}

#progress-value{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: var(--white);
    border-radius: 50%;
    -webkit-text-stroke: .13rem;
    place-items: center;
    display: none;
    font-size: 2rem;
    color: var(--night);
}


/*** nav-bar ***/

#mainNavbar{
    padding: 1.5rem 4.8rem;
    transition: padding-top 0.6s, padding-bottom 0.6s, background .6s;
}

#mainNavbar .navbar-brand{
    font-size: 3.6rem;
    font-weight: 600;
    transition: 0.6s;
    padding: 0;
}

#mainNavbar .bi-list{
    font-size: 3.5rem;
    color: var(--white);
}

nav.sticky .bi-list{
    color: var(--night) !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}

.offcanvas{
    width: 300px !important;
}

.offcanvas-body{
    transition: all 0.6s !important;
}

#mainNavbar ul{
    font-size: 1.8rem;
}

#mainNavbar ul>li{
    margin-left: 1.3rem;
}

#mainNavbar ul>li a{
    display: inline-block;
    padding: 1rem .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.6s;
    position: relative;
}

#mainNavbar ul>li a.effect::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px; 
    background: rgba(255,255,255,0.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s;
}

#mainNavbar ul>li a.effect:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

nav.sticky{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background: var(--white);
}

nav.sticky .navbar-brand,
.offcanvas.show a,
nav.sticky ul>li a{
    color: var(--night) !important;
}

nav.sticky ul>li a::after,
.offcanvas.show ul>li a::after{
    background: var(--night) !important;
}


/*** header ***/
.main-header{
    background-image: url(../../images/background4.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.main-header .hello{
    font-size: 4rem;
    font-weight: 400;
}

.main-header .my{
    font-size: 6.8rem;
    font-weight: 500;
    margin-top: 2.5rem;
    border-right: 2px solid;
    white-space: nowrap;  /*Yazının alt satırlara inmesini engelliyor.*/
    overflow: hidden;   
}

.anim-typewriter{
    animation: typewriter 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal; /*text imlecinin sonsuza kadar yanıp sönmesini sağlıyor.*/
}

.anim-typewriter-small{
    animation: typewriter-small 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

.anim-typewriter-xsmall{
    animation: typewriter-xsmall 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

.anim-typewriter-xxsmall{
    animation: typewriter-xxsmall 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 60.5rem;}  /*text imlecinin, yazının sonuna gelmesi için width'in genişliği yazının genişliği kadar olmalı*/
}

@keyframes typewriter-small{
    from{width: 0;}
    to{width: 51.8rem;}
}

@keyframes typewriter-xsmall{
    from{width: 0;}
    to{width: 38rem;}
}

@keyframes typewriter-xxsmall{
    from{width: 0;}
    to{width: 29rem;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.download{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin-top: 2.5rem;
    font-weight: 600;
    border: 2px solid var(--white);
    border-radius: 3rem;
    cursor: pointer;
    color: var(--white);
    transition: all .3s;
    letter-spacing: .2rem;
}

.download:hover{
    background-color: var(--white);
    color: var(--night) !important;
}


/* Title-Striped */
.title-striped{
    margin-bottom: 3rem;
}

.title-striped .title{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.title-striped i{
    font-size: 2.5rem;
    display: block;
    position: relative;
    color: var(--white);
    top: -2px;
}

.title-striped i span::before,
.title-striped i span::after{
    content: "";
    position: absolute;
    width: 175px;
    height: 2px;
    background-color: var(--white);
    top: 18px;
}

.title-striped i span::before{
    left: 34px;
}

.title-striped i span::after{
    right: 35px;
}


/* About */
.my-img{
    max-width: 25rem !important;
    border-radius: 30px !important;
}

.about-desc span{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
    display: inline-block;
}

.about-desc p{
    color: var(--white);
    width: 80%;
    margin-bottom: 0.5rem;
}


/* Projects */

#projects .repo{
    padding: 25px;
    min-height: 210px;
    border: .5px solid var(--halloween);
    border-radius: 5px;
}

.color-fg-muted {
    color: #7d8590 !important;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.p-repo-title a{
    color: var(--white);
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.p-repo-title a:hover{
    color: var(--vintage) !important;
}

.project-body p{
    color: var(--white);
    font-size: 1.5rem;
}

.repo-language-color{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: .3rem;
}

.html-color{
    background-color: var(--red);
}

.csharp-color{
    background-color: var(--yellow);
}

.repo-language{
    color: var(--white);
    font-size: 1.5rem;
}

.project-footer .bi{
    font-size: 1.4rem;
}

.project-footer .bi,
.project-footer svg{
    color: var(--white);
    margin-right: .1rem;
}

.project-footer .point{
    font-size: 1.7rem;
    color: var(--white);
    position: relative;
    top: 2px;
    font-family: 'Open Sans',  sans-serif;
}


/* Skill */

#skills .row{
    margin-top: 5.5rem;
}

.language-icon{
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 30px;
    background-color: var(--night);
    transform: rotate(45deg);
}

.language-icon i{
    color: var(--white);
    font-size: 6rem;
    transform: rotate(-45deg);
}

.language-icon .ms-sql{
    font-size: 7.5rem;
}

.language-icon .img-lang{
    width: 60px;
    height: 60px;
    transform: rotate(-45deg);
}

.language p{
    font-size: 2.7rem;
    font-weight: 500;
    margin-top: 4rem;
    color: var(--white);
}


@media (min-width: 992px) {
    #skills .col-lg-3:nth-child(n+5).margin-top{
        margin-top: 7rem;
    }
}


@media (max-width: 991.98px){
    .about-desc{
        text-align: center;
    }

    .about-desc p{
        margin: 0 auto;
    }

    #about .col-lg-6:nth-child(2){
        margin-top: 3rem;
    }
    
    #skills .col-lg-3:nth-child(n+3).margin-top{
        margin-top: 7rem;
    }
}


@media (max-width:767px){
    #mainNavbar{
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }
    nav.sticky ul>li a{
        color: var(--white) !important;
    }

    .main-header{
        padding-top: 23rem;
        padding-bottom: 23rem;
    }

    .main-header .hello{
        font-size: 3rem !important;
    }

    .main-header .my{
        font-size: 5.8rem !important;
        margin-top: 1.5rem !important;
    }

    .download{
        font-size: 1.5rem;
        letter-spacing: .15rem !important;
        padding: 1.2rem 2.2rem !important;
    }

    .title-striped .title{
        font-size: 5.5rem !important;
    }

    .title-striped i{
        font-size: 2.1rem;
        top: 0px;
    }

    .title-striped i span::before,
    .title-striped i span::after{
        width: 150px;
        top: 16px;
    }

    .title-striped i span::before{
        left: 30px;
    }
    
    .title-striped i span::after{
        right: 30px;
    }

    .my-img{
        max-width: 23rem !important;
    }    

    .about-desc h1{
        font-size: 2rem;
    }

    .about-desc span{
        font-size: 3rem;
        font-weight: 600;
    }

    #projects .row{
        margin: 0 15px;
        margin-bottom: 0px !important;
    }

    .p-repo-title a:hover{
        color: var(--white) !important;
    }

    #skills .row{
        margin-top: 6rem;
    }

    #skills .col-lg-3:nth-child(n+2).margin-top{
        margin-top: 7rem;
    }
}


@media (max-width: 578px){
    .mySection{
        padding: 6rem 0;
    }

    .main-header{
        padding-top: 26rem;
        padding-bottom: 26rem;
    }

    .main-header .hello{
        font-size: 2rem !important;
    }

    .main-header .my{
        font-size: 4.2rem !important;
    }

    .download{
        font-size: 1.2rem;
        letter-spacing: .11rem !important;
        padding: 1rem 2rem !important;
    }

    .title-striped .title{
        font-size: 4.2rem !important;
    }

    .title-striped i span::before,
    .title-striped i span::after{
        width: 110px;
        top: 16px;
    }

    .language-icon{
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .language-icon i{
        font-size: 4.5rem;
    }

    .language-icon .img-lang{
        width: 45px;
        height: 45px;
    }

    .language-icon .ms-sql{
        font-size: 6rem;
    }
    
    .language p{
        font-size: 2.5rem;
        margin-top: 3.7rem;
    }
}


@media (max-width: 405px){
    .main-header .hello{
        font-size: 1.5rem !important;
    }

    .main-header .my{
        font-size: 3.2rem !important;
    }

    .download {
        line-height: .5rem;
        font-weight: 400 !important;
        letter-spacing: .15rem !important;
        padding: 1.5rem 2rem !important;
    }

    .title-striped .title{
        font-size: 3.8rem !important;
    }

    .title-striped i {
        font-size: 1.8rem;
        top: 2px;
    }

    .title-striped i span::before,
    .title-striped i span::after{
        width: 100px;
        top: 13px;
    }

    .title-striped i span::before{
        left: 26px;
    }
    
    .title-striped i span::after{
        right: 26px;
    }

    .my-img{
        max-width: 19rem !important;
    }

    .about-desc h1{
        font-size: 1.7rem;
    }

    .about-desc span{
        font-size: 2.5rem;
    }

    .about-desc p{
        font-size: 1.5rem;
    }

    .language-icon{
        width: 100px;
        height: 100px;
        border-radius: 18px;
    }
    
    .language-icon i{
        font-size: 4.1rem;
    }

    .language-icon .img-lang{
        width: 41px;
        height: 41px;
    }

    .language-icon .ms-sql{
        font-size: 5.1rem;
    }
    
    .language p{
        font-size: 2.2rem;
        margin-top: 3.2rem;
    }
}





