*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    color: #84797d !important;
    font-size: 1.6rem !important;
    font-weight: 300 !important;
    font-family: 'Montserrat', sans-serif !important;
    height: 1000px !important;
}

a{
    color: #fff !important;
}

.main-header{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/background4.jpg);
    background-position: center;
    background-size:cover;
}



/*** nav-bar ***/

#mainNavbar{
    padding: 1.5rem 4.8rem;
    transition: padding-top 0.6s, padding-bottom 0.6s, background .6s;
}

#mainNavbar .navbar-brand{
    font-size: 3.6rem;
    font-weight: 600;
    transition: 0.6s;
    padding: 0;
}

#mainNavbar .bi-list{
    font-size: 3.5rem;
    color: #fff;
}

nav.sticky .bi-list{
    color: #000 !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}

.offcanvas{
    width: 300px !important;
}

.offcanvas-body{
    transition: all 0.6s !important;
}

#mainNavbar ul{
    font-size: 1.8rem;
}

#mainNavbar ul>li{
    margin-left: 1.3rem;
}

#mainNavbar ul>li a{
    display: inline-block;
    padding: 1rem .8rem;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.6s;
    position: relative;
}

#mainNavbar ul>li a::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px; 
    background: rgba(255,255,255,0.3);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
}

#mainNavbar a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

nav.sticky{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background: #fff;
}

nav.sticky .navbar-brand,
.offcanvas.show a,
nav.sticky ul>li a{
    color: #000 !important;
}

nav.sticky ul>li a::after,
.offcanvas.show ul>li a::after{
    background: #000 !important;
}

@media (max-width:768px){
    #mainNavbar{
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }
    nav.sticky ul>li a{
        color: #fff !important;
    }
}


/*** opening ***/
.opening{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 102px);
    color: #fff;
}

.opening .hello{
    font-size: 2.5em;
    font-weight: 400;
}

.opening .my{
    font-size: 4.2em;
    font-weight: 500;
    margin-top: 2.5rem;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;  /*Yazının alt satırlara inmesini engelliyor.*/
    overflow: hidden;   
}

.anim-typewriter{
    animation: typewriter 5s steps(45) 1.2s 1 normal both,
               blinkTextCursor 500ms steps(45) infinite normal; /*text imlecinin sonsuza kadar yanıp sönmesini sağlıyor.*/
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 60rem;}  /*text imlecinin, yazının sonuna gelmesi için width'in genişliği yazının genişliği kadar olmalı*/
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.download{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin-top: 2.5rem;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 3rem;
    cursor: pointer;
    color: #fff;
    transition: all .3s;
}

.download:hover{
    background-color: #fff;
    color: #000;
}









